<?xml version='1.0' encoding='utf-8'?>
<widget id="org.projektcobalt.homodeus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HomoDeus</name>
    <description>A simple fibro pain recorder</description>
    <author email="mel.po@mail.uk" href="https://anazaar.org">
        AnaZaar
    </author>
    <platform name="android">
        <preference name="homo-deus" value="org.projektcobalt.homodeus" />
    </platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="logo.png" />
</widget>